body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 100vh;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
button {
    margin-top: 5px;
}

#result {
    margin-top: 20px;
    text-align: center;
}